<!DOCTYPE html>
<html>
    <head>
        <title> Add New Medication </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel = "stylesheet" href = "style.css" type = "text/css" />
        <link rel = "icon" href = "https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2019/1-pill.jpg">
    </head>
    
    <body>
        <h4> Add a New Medication! </h4>
        <form method = 'post' action = '/yourMeds'>
          <label for="medName"> Medication Name </label></br>
          <input type="text" name="medName"/></br>
          <label for="medPurpose"> Medication Purpose </label></br>
          <input type="text" name="medPurpose"/></br>
          <label for="doctor"> Medication Perscriber (ex. Dr. Smith - Podiatrist) </label></br>
          <input type="text" name="doctor"/></br>
          <label for="medCount"> Medication Bottle Amount (ex. '10' pills or '200' mL)</label></br>
          <input type="text" name="medCount"/></br>
          <label for="medType"> Medication Description (ex. purple liquid, red pill. blue gel capsule etc) </label></br>
          <input type="text" name="medType"/></br>
          
          <input type="submit" value="Submit"/>
        </form>
    </body>
</html>