<!DOCTYPE html>
<html>
    <head>
        <title> Your Medication Cabinet </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel = "stylesheet" href = "style.css" type = "text/css" />
        <link rel = "icon" href = "https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2019/1-pill.jpg">
      <nav>
            <div class="nav-wrapper blue-grey darken-1">
              <a href="" class="brand-logo red-text text-lighten-2 flow-text center"><i class="material-icons">Virtual Medicine Cabinet</a>
                <ul class="right hide-on-med-and-down">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/addNew"> Add New Medication</a></li>
                <li><a href="/yourMeds"> Your Current Medications </a></li>
                <li><a href="/adjustMed"> Take/Refill Medications </a></li>
                <li><a href ="/pharamcyLocator"> Pharmacy Locator </a></li>
              </ul>
            </div>
        </nav>
        
    </head>
    
    <body>
      <!--need to make things actually update now and get the historical DB values-->
      <div class = "container">
        <form method = 'post' action = '/adjustMed' autocomplete="on">
          <label for="drugName"> Medication Name </label></br>
          <input type="text" name="drugName"/></br>
          <label for="drugPurpose"> Medication Purpose (ex. to relieve aches and pains) </label></br> 
          <input type="text" name="drugPurpose"/></br>
          <label for="drugDoctor"> Medication Perscriber (ex. Dr. Smith - Podiatrist) </label></br>
          <input type="text" name="drugDoctor" value = {{meds.doc}}></br>
          <label for="drugAmount"> New Medication Bottle Amount (ex. '10' pills or '200' mL)</label></br>
          <input type="text" name="drugAmount" value = "words"/></br>
          <label for="drugType"> Medication Description (ex. purple liquid, red pill. blue gel capsule etc) </label></br>
          <input type="text" name="drugType"/></br>
          
          <input type="submit" value="Submit"/>
          
        </form>
      </div>
    </body>