<!DOCTYPE html>
<html>
    <head>
        <title> Delete a Medication </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel = "stylesheet" href = "style.css" type = "text/css" />
        <link rel = "icon" href = "https://cdn.pixabay.com/photo/2017/05/15/21/58/drug-icon-2316244_960_720.png">
        
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  
        <nav style = "min-height: 80px">
          <div class="nav-wrapper blue-grey lighten-1">
            <a href="/index" class="brand-logo white-text text-lighten-2"><h4>Virtual Medicine Cabinet</h4></a>
            <ul class="right hide-on-med-and-down">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/yourMeds"><h6> Your Current Medications</h6> </a></li>
                <li><a href="/addNew"><h6> Add New Medication</h6> </a></li>
                <li><a href="/adjustMed"><h6> Take/Refill Medications</h6> </a></li>
                <li><a href="/delMed"><h6> Delete Medication </h6> </a></li>
                <li><a href="/pharmacyLocator"><h6> Find a Pharmacy </h6> </a></li>
            </ul>
          </div>
        </nav>
    </head>
    
    <body>
        <div class = "container center-align">
            <h4><center> Delete a Medication </center> </h4>
            <p> We hope since you are on this page that you have disposed of your old/unused medications! Please use the resources on the home page to find drug take-back locations near you & more tips to safely dispose of medications!</p>
            <img src="https://www.fda.gov/files/drugs-img-safety-disposal-infographic-disposal-options.png" style = "width: 70%"></img><br>
            <form method = 'post' action = '/delMed' autocomplete="on">
                <label for="delName"> Medication Name </label></br>
                <input type="text" name="delName"/></br>
                <label for="delPat"> Patient Name </label></br>
                <input type="text" name="delPat"/></br>
                <button class="actions special btn-flat blue-grey lighten-1 white-text" type="submit" name="action" >Submit </button>
            </form>
          
    </body>
        </div>
</html>