<!DOCTYPE html>
<html>

<head>
  <title> Virtual Medicine Cabinet! </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="icon" href="https://cdn.pixabay.com/photo/2017/05/15/21/58/drug-icon-2316244_960_720.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <nav style = "min-height: 80px">
    <div class="nav-wrapper blue-grey lighten-1">
      <a href="/index" class="brand-logo white-text"><h4>Virtual Medicine Cabinet</h4></a>
      <ul class="right hide-on-med-and-down">
         <li><a class="blue-grey-text text-lighten-1 dropdown-trigger " href="#!" data-target="dropdown1">_______________________<i class="large material-icons right" style="color:white">view_headline</i></a></li>
    </ul>
    </div>
    </div>
  </nav>
  
  <ul id="dropdown1" class="dropdown-content blue-grey lighten-1 white-text">
    <li> <a class = "white-text" href="/yourMeds"> Your Current Medications </a></li>
    <li><a class = "white-text" href="/addNew"> Add New Medication </a></li>
    <li><a class = "white-text" href="/adjustMed"> Take/Refill Medications </a></li>
    <li><a class = "white-text" href="/delMed"> Delete Medication </a></li>
    <li><a class = "white-text" href="/pharmacyLocator"> Find a Pharmacy </a></li>
  </ul>
  
</head>

<body>
  <br>
    <div class = "row">
      <div class = "col s2 blue-grey lighten-3 z-depth-1 center-align">
          <h6><center><b> Please Note: </center> </h6></b>
          <p>This application is not meant to replace or override the expertise of a licensed medical professional. Please adhere to your doctor's perscribed regieme and follow the instructions for each drug you make take. In the case of a life threatening emergency please dial 911. For other health related events please consult your licensed medical professional.</p><br>
      </div>
      <div class = "col s10 grey lighten-3 z-depth-1 center-align valign-wrapper">
        <div> 
        <h4><center><b>  Welcome to Your Virtual Medicine Cabinet! </b></center> </h4>
          <p> The aim of this application is to track your medications, to educate you about proper drug disposal, and to help you locate local pharmacies in order to contribute a healthier world. </p>
        </div>
          
          <img src="https://www.fda.gov/files/medicine_cabinet.gif" style = "width:90%"></img>
      </div>
    </div>
    <div class = "row center-align">
      <img src="https://www.deadiversion.usdoj.gov/images/drugs_banner.png"></img>
      <h5> National Prescription Drug Take Back Day is October 26, 2019 from 10AM to 2PM.</h5>
      
    </div>
    <div class = "row"><br><br>
      <h5> <center> <b> Year-Round Drug Disposal Information </b></center></h5><br>
      <div class = "col s4 white z-depth-1 center-align">
        <h6><b> New Jersey </b></h6>
        <img src="https://njhazwaste.com/wp-content/uploads/2010/04/300_njcountymap.jpg"style = "width:46%"></img><br>
        <a href="https://www.njconsumeraffairs.gov/meddrop/Pages/Safety.aspx" target = "_blank_"> NJ Drug Disposal Tips</a><br>
        <a href="https://www.njconsumeraffairs.gov/meddrop/Pages/Locations.aspx" target = "_blank_"> Project Medicine Drop Locations</a>
      </div>
      <div class = "col s4 white z-depth-1 center-align">
          <h6><b> New York </b></h6><br>
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/db/New_York_Counties.svg/670px-New_York_Counties.svg.png" style = "width:99%"></img><br><br>
          <a href="http://www.dec.ny.gov/chemical/67720.html" target = "_blank_"> NY Drug Disposal Tips </a><br>
          <a href="https://www.arcgis.com/home/webmap/viewer.html?webmap=58175eea143d45b699296b2a63c74bd5&extent=-81.9219,39.4623,-68.9801,46.0128" target = "_blank_"> Drug Drop Site Locator</a>
      </div>
      <div class = "col s4 white z-depth-1 center-align">
        <h6><b> Pennsylvania </b></h6><br><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Pennsylvania_counties_map.png/400px-Pennsylvania_counties_map.png" style= "width:100%"></img><br><br><br><br>
        <a href="https://pastop.org/unused-medicine-disposal/" target = "_blank_"> PA Drug Disposal Tips </a><br>
        <a href="https://apps.ddap.pa.gov/GetHelpNow/PillDrop.aspx" target = "_blank_"> Drug Takeback Site Locator </a>
      </div>
</div>

<p class="grey-text center" style="font-size:80%">This web application is not affiliated with the US FDA or US DEA; all images/graphics used are credited to those organizations. Other image sources and links are courtesy of Google Search. </p>
<footer class="page-footer blue-grey lighten-3">
            <div class="row blue-grey lighten-1">
              <div class="col l6 s12 ">
                <h6 class="white-text">About the Application</h6>
                <p class="grey-text text-lighten-4"> By Meghan Flynn, Akosua Wordie, and Harsha Philip </p>
                <p class="grey-text text-lighten-4" style="font-size:80%" > <em> Our passion for this project stems from the need for better medication usage and disposal in the United States. In order for the health of the nation to thrive, all people must be responsible for their personal well-being and the impacts they have on the environment. The Virtual Medicine Cabinet allows people to be mindful of their medicine usage, be informed about safe medication disposal, and be aware of pharmacies near them. </em></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h6 class="white-text">Pages:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/yourMeds">Your Current Medications</a></li>
                  <li><a class="grey-text text-lighten-3" href="/addNew">Add New Medication</a></li>
                  <li><a class="grey-text text-lighten-3" href="/adjustMed">Take/Refill Medications</a></li>
                  <li><a class="grey-text text-lighten-3" href="/delMed">Delete Medication</a></li>
                  <li><a class="grey-text text-lighten-3" href="/pharmacyLocator">Find a Pharmacy Near Me</a></li>
                </ul>
              </div>
            </div>
        </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>$('.dropdown-trigger').dropdown({coverTrigger: false});</script>

</body>
            
</html>