<!DOCTYPE html>
<html>
    <head>
        <title> Virtual Medicine Cabinet! </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel = "stylesheet" href = "style.css" type = "text/css" />
        <link rel = "icon" href = "https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2019/1-pill.jpg">
        
        <nav>
            <div class="nav-wrapper blue-grey darken-1">
              <a href="#!" class="brand-logo red-text text-lighten-2 flow-text center"><i class="material-icons">Virtual Medicine Cabinet</a>
                <ul class="right hide-on-med-and-down">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/addNew"> Add New Medication</a></li>
                <li><a href="/yourMeds"> Your Current Medications </a></li>
              </ul>
            </div>
        </nav>
    </head>
    
    <body>
        <!--<a class="waves-effect waves-light btn" href = "/addNew">Add a New Medication!</a>-->
        <!--<a class="waves-effect waves-light btn" href = "/yourMeds"> View Your Medications!!</a>-->

        
    </body>
</html>