<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeblEyV-LSsY4vuxgE8snVSc_IBj0yivM&libraries=places"></script>

</head>

<body>
    <title> Need to pick up a refill?</title>
    <form method='post' action='/pharmacyLocator' autocomplete="on">
        <label for="zipCode"> What's your zip code? </label></br>
        <input type="text" name="zipCode" /></br>
         <div id="map"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeblEyV-LSsY4vuxgE8snVSc_IBj0yivM&callback=initMap"></script>
    </form>
</body>

</html>
