<!DOCTYPE html>
<html>
<head>
    <title> Find a Pharmacy </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="icon" href="https://cdn.pixabay.com/photo/2017/05/15/21/58/drug-icon-2316244_960_720.png">

    <nav style = "min-height: 80px">
          <div class="nav-wrapper blue-grey lighten-1">
            <a href="/index" class="brand-logo white-text text-lighten-2"><h4>Virtual Medicine Cabinet</h4></a>
            <ul class="right hide-on-med-and-down">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/addNew"><h6> Add New Medication</h6> </a></li>
                <li><a href="/yourMeds"><h6> Your Current Medications</h6> </a></li>
                <li><a href="/adjustMed"><h6> Take/Refill Medications</h6> </a></li>
                <li><a href="/pharmacyLocator"><h6> Find a Pharmacy </h6> </a></li>
            </ul>
          </div>
    </nav>
</head>
<body>
    <br>
    <h5> <center> Find a Pharmacy Near You </center></h5>
    <div class = "container">
        <form method='post' action='/pharmacyLocator' autocomplete="on">
            <!--<label for="zipCode"> What's your zip code? </label></br>-->
            <!--<input type="text" name="zipCode" /></br>-->
            <!--<input type="submit" value="Submit"/>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3024.204394705583!2d-74.03700758109568!3d40.71351676068993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spharmacies+near+me!5e0!3m2!1sen!2sus!4v1564581578961!5m2!1sen!2sus" width="1000" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </form>
    </div>
</body>

</html>
