<!DOCTYPE html>
<html>
    <head>
        <title> Your Medication Cabinet </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel = "stylesheet" href = "style.css" type = "text/css" />
        <link rel = "icon" href = "https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2019/1-pill.jpg">
    </head>
    
    <body>
        <ul>
          {% for med in collection %}
            <li>{{ med['name']}}</li>
          {% endfor %}
        </ul>
    </body>
</html>