<!DOCTYPE html>
<html>
    <head>
        <title> Your Medication Cabinet </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel = "stylesheet" href = "style.css" type = "text/css" />
        <link rel = "icon" href = "https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2019/1-pill.jpg">
    </head>
    
    <body>
    <!--need to make it so that if they just want to view medications it is direct from the DB not the form-->
        <ul>
          {% for med in meds %}
          <div class="row">
                <div class="col s6">
                  <div class="card cyan">
                    <div class="card-content white-text">
                      <span class="card-title"> {{med.name}} </span>
                      <p>You have {{med.amount}} left of {{med.name}} as perscribed by {{med.doc}} for {{med.purpose}}. This medication is a {{med.type}}. </a></p>
                    </div>
                  </div>
                </div>
          {% endfor %}
        </ul>
    </body>
</html>